@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
  font-family: 'Inter';
}

body {
  height: auto;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form input,
button {
  margin: 5px;
}

.url-container {
  width: 15rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #b8b8b8;
  border-radius: 10px;
  cursor: pointer;
}

.toggle-switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
}

#checkbox:checked + .toggle-switch::after {
  left: 21px;
}

#checkbox:checked + .toggle-switch {
  background-color: rgb(6, 230, 92);
}

#checkbox {
  display: none;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.toggle-text {
  padding-right: 1rem;
}

.total-time {
  z-index: -1;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 277px;
  left: 235px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.budget-display {
  width: 100%;
}

.add-budget {
  display: flex;
  justify-content: center;
}

.add {
  cursor: pointer;
  padding: 0.25rem;
  color: rgba(51, 51, 51, 0.794);
  border-radius: 20px;
  transition: 200ms;
  margin: 0.5rem 1rem;
  font-size: 30px;
}

.add:hover {
  color: rgb(45, 45, 45);
}

.budget-container {
  width: 100%;
}

.budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem;
}

.budget-bar {
  width: 125px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid rgba(71, 71, 71, 0.528);
  background-color: transparent;
}
.chart-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-btn {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  height: 2rem;
  border: 0.5px solid rgba(71, 71, 71, 0.528);
  padding: 1rem 1.5rem;
}
.chart-buttons > #daily {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.chart-buttons > #weekly {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.active-chart {
  background-color: rgb(237, 237, 237);
}

.weekly-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 6rem;
}

.schedule {
  font-size: 30px;
}

.weekly-avg {
  font-size: 30px;
  font-weight: 500;
}

.bar-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.less,
.more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 40px;
  transition: 150ms linear;
  transform: scaleX(150%);
  color: rgba(255, 255, 255, 0.168);
}

.less:hover {
  transform: translateY(-5px) scaleY(150%) scaleX(200%);
  color: rgba(255, 255, 255, 0.6);
}

.more:hover {
  transform: translateY(5px) scaleY(150%) scaleX(200%);
  color: rgba(255, 255, 255, 0.6);
}

.options-toolbar {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.top3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.top3-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.top3-header {
  margin-top: 1rem;
  margin-bottom: 5px;
  font-weight: 700;
}

.top3-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.528);
}

.top3 > div {
  width: 85%;
}

.options-toolbar > button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  transition: 150ms ease;
}

.options-toolbar > button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
}

.options-divider {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.168);
}

.budget-popup-1,
.budget-popup-2 {
  width: 100%;
  height: 16rem;
  background-color: #242424;
  border-radius: 10px;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  z-index: -2;
}

.budget-popup-1 > .options-toolbar {
  width: 50%;
}

.budget-popup-1 > .time-inputs {
  margin: 1.5rem 0;
}

.budget-popup-1 {
  height: 20rem;
  width: 29rem;
  position: fixed;
  top: 50px;
  transition: 250ms ease;
}

.budget-popup-2 {
  width: 29rem;
  position: fixed;
  top: 50px;
  transition: 250ms ease;
}

.budget-header {
  margin: 0 1rem;
  font-size: 20px;
}

.budget-display {
  margin: 1rem 0rem;
  padding-bottom: 1rem;
}

.header-container {
  /* border: 1px solid rgb(237, 237, 237); */
  border-bottom: 1px solid rgb(45, 45, 45);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapse-icon {
  font-size: 40px;
}

#url {
  padding-left: 0.5rem;
  margin-left: 1rem;
  color: white;
  background-color: transparent;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 20px;
}

#url:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.url-container {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.timer {
  padding-top: 10px;
  position: absolute;
  right: 100px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgba(51, 51, 51, 0.794);
  transition: 200ms ease;
}

.timer:hover {
  color: rgb(45, 45, 45);
}

.settings-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  color: rgba(51, 51, 51, 0.794);
  transition: 200ms ease;
}

.settings-icon:hover {
  color: rgb(45, 45, 45);
}

.time-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 8rem;

  font-size: 45px;
}

.popup-header {
  font-size: 24px;
}

.hour,
.minute {
  height: 100%;
  width: 5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hide {
  display: none;
}
